<!-- Gallery Section -->
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space  vc_custom_1512489486837 height_medium" style="height: 32px"><span
                        class="vc_empty_space_inner"></span></div>
                <div id="sc_title_724326877"
                     class="sc_title color_style_default sc_title_default"><h6
                        class="sc_item_subtitle sc_title_subtitle sc_align_center sc_item_title_style_default">
                    what you prefer</h6>
                    <h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_default">Choose
                        Your Style</h2></div><!-- /.sc_title -->
                <div class="vc_empty_space  vc_custom_1512489780329 height_medium" style="height: 32px"><span
                        class="vc_empty_space_inner"></span></div>
                <!-- CACHE CREATED FOR: 4 -->


                <!-- THE ESSENTIAL GRID 3.0.6 POST -->

                <article class="myportfolio-container minimal-light source_type_post" id="esg-grid-4-1-wrap">

                    <div id="esg-grid-4-1" class="esg-grid"
                         style="background: transparent;padding: 0px 0px 0px 0px ; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;">
                        <article class="esg-filters esg-singlefilters"
                                 style="margin-bottom: 0px; text-align: center; "><!-- THE FILTER BUTTONS -->
                            <div class="esg-filter-wrapper  esg-fgc-4"
                                 style="margin-left: 2.5px; margin-right: 2.5px;">
                                <div class="esg-mobile-filter-button"><span>Filter Categories</span><i
                                        class="eg-icon-down-open"></i></div>
                                <div class="esg-filterbutton selected esg-allfilter" data-filter="filterall"
                                     data-fid="-1"><span>modern</span></div>
                                <div class="esg-filterbutton" data-fid="29" data-filter="filter-transitional">
                                    <span>transitional</span><span class="esg-filter-checked"><i
                                        class="eg-icon-ok-1"></i></span></div>
                                <div class="esg-filterbutton" data-fid="31" data-filter="filter-urban-electric">
                                    <span>urban electric</span><span class="esg-filter-checked"><i
                                        class="eg-icon-ok-1"></i></span></div>
                                <div class="esg-filterbutton" data-fid="34"
                                     data-filter="filter-modern-farmhouse"><span>modern farmhouse</span><span
                                        class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>
                                <div class="esg-filterbutton" data-fid="32" data-filter="filter-classic"><span>classic</span><span
                                        class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span></div>
                                <div class="esg-filterbutton" data-fid="33" data-filter="filter-craftsman">
                                    <span>craftsman</span><span class="esg-filter-checked"><i
                                        class="eg-icon-ok-1"></i></span></div>
                                <div class="esg-filterbutton" data-fid="30" data-filter="filter-industrial">
                                    <span>industrial</span><span class="esg-filter-checked"><i
                                        class="eg-icon-ok-1"></i></span></div>
                                <div class="eg-clearfix"></div>
                            </div>
                        </article>
                        <div class="esg-clear-no-height"></div>
                        <ul>
                            <li id="eg-4-post-id-167" data-skin="chrimson"
                                class="filterall filter-installation-tips filter-classic filter-modern-farmhouse eg-chrimson-wrapper eg-post-id-167"
                                data-date="1495806720">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-transition" data-delay="0"
                                         data-duration="default" data-transition="esg-pressback"><img
                                            src="./assets/uploads/2017/09/post-15.jpg" data-no-lazy="1" alt=""
                                            width="2165" height="1600"></div>

                                    <div class="esg-entry-cover">

                                        <div class="esg-overlay esg-transition eg-chrimson-container"
                                             data-delay="0" data-duration="default"
                                             data-transition="esg-fade"></div>

                                        <div class="esg-center eg-post-167 eg-chrimson-element-1-a esg-transition"
                                             data-delay="0.1" data-duration="default"
                                             data-transition="esg-slide"><a
                                                class="eg-chrimson-element-1 eg-post-167 esgbox"
                                                data-thumb="./assets/uploads/2017/09/post-15-200x148.jpg"
                                                href="./assets/uploads/2017/09/post-15.jpg" data-width="2165"
                                                data-height="1600"><i class="eg-icon-search"></i></a></div>
                                    </div>
                                </div>

                            </li>
                            <li id="eg-4-post-id-165" data-skin="chrimson"
                                class="filterall filter-installation-tips filter-craftsman filter-urban-electric eg-chrimson-wrapper eg-post-id-165"
                                data-date="1496152261">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-transition" data-delay="0"
                                         data-duration="default" data-transition="esg-pressback"><img
                                            src="./assets/uploads/2017/09/post-16.jpg" data-no-lazy="1" alt=""
                                            width="1770" height="2000"></div>

                                    <div class="esg-entry-cover">

                                        <div class="esg-overlay esg-transition eg-chrimson-container"
                                             data-delay="0" data-duration="default"
                                             data-transition="esg-fade"></div>

                                        <div class="esg-center eg-post-165 eg-chrimson-element-1-a esg-transition"
                                             data-delay="0.1" data-duration="default"
                                             data-transition="esg-slide"><a
                                                class="eg-chrimson-element-1 eg-post-165 esgbox"
                                                data-thumb="./assets/uploads/2017/09/post-16-200x226.jpg"
                                                href="./assets/uploads/2017/09/post-16.jpg" data-width="1770"
                                                data-height="2000"><i class="eg-icon-search"></i></a></div>
                                    </div>
                                </div>

                            </li>
                            <li id="eg-4-post-id-163" data-skin="chrimson"
                                class="filterall filter-installation-tips filter-industrial filter-transitional eg-chrimson-wrapper eg-post-id-163"
                                data-date="1496584202">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-transition" data-delay="0"
                                         data-duration="default" data-transition="esg-pressback"><img
                                            src="./assets/uploads/2017/09/post-17.jpg" data-no-lazy="1" alt=""
                                            width="2165" height="1600"></div>

                                    <div class="esg-entry-cover">

                                        <div class="esg-overlay esg-transition eg-chrimson-container"
                                             data-delay="0" data-duration="default"
                                             data-transition="esg-fade"></div>

                                        <div class="esg-center eg-post-163 eg-chrimson-element-1-a esg-transition"
                                             data-delay="0.1" data-duration="default"
                                             data-transition="esg-slide"><a
                                                class="eg-chrimson-element-1 eg-post-163 esgbox"
                                                data-thumb="./assets/uploads/2017/09/post-17-200x148.jpg"
                                                href="./assets/uploads/2017/09/post-17.jpg" data-width="2165"
                                                data-height="1600"><i class="eg-icon-search"></i></a></div>
                                    </div>
                                </div>

                            </li>
                            <li id="eg-4-post-id-161" data-skin="chrimson"
                                class="filterall filter-installation-tips filter-craftsman filter-modern-farmhouse eg-chrimson-wrapper eg-post-id-161"
                                data-date="1496929765">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-transition" data-delay="0"
                                         data-duration="default" data-transition="esg-pressback"><img
                                            src="./assets/uploads/2017/09/post-18.jpg" data-no-lazy="1" alt=""
                                            width="1770" height="2000"></div>

                                    <div class="esg-entry-cover">

                                        <div class="esg-overlay esg-transition eg-chrimson-container"
                                             data-delay="0" data-duration="default"
                                             data-transition="esg-fade"></div>

                                        <div class="esg-center eg-post-161 eg-chrimson-element-1-a esg-transition"
                                             data-delay="0.1" data-duration="default"
                                             data-transition="esg-slide"><a
                                                class="eg-chrimson-element-1 eg-post-161 esgbox"
                                                data-thumb="./assets/uploads/2017/09/post-18-200x226.jpg"
                                                href="./assets/uploads/2017/09/post-18.jpg" data-width="1770"
                                                data-height="2000"><i class="eg-icon-search"></i></a></div>
                                    </div>
                                </div>

                            </li>
                            <li id="eg-4-post-id-151" data-skin="chrimson"
                                class="filterall filter-installation-tips filter-industrial filter-transitional eg-chrimson-wrapper eg-post-id-151"
                                data-date="1497275231">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-transition" data-delay="0"
                                         data-duration="default" data-transition="esg-pressback"><img
                                            src="./assets/uploads/2017/09/post-20.jpg" data-no-lazy="1" alt=""
                                            width="1770" height="2000"></div>

                                    <div class="esg-entry-cover">

                                        <div class="esg-overlay esg-transition eg-chrimson-container"
                                             data-delay="0" data-duration="default"
                                             data-transition="esg-fade"></div>

                                        <div class="esg-center eg-post-151 eg-chrimson-element-1-a esg-transition"
                                             data-delay="0.1" data-duration="default"
                                             data-transition="esg-slide"><a
                                                class="eg-chrimson-element-1 eg-post-151 esgbox"
                                                data-thumb="./assets/uploads/2017/09/post-20-200x226.jpg"
                                                href="./assets/uploads/2017/09/post-20.jpg" data-width="1770"
                                                data-height="2000"><i class="eg-icon-search"></i></a></div>
                                    </div>
                                </div>

                            </li>
                            <li id="eg-4-post-id-159" data-skin="chrimson"
                                class="filterall filter-installation-tips filter-classic filter-urban-electric eg-chrimson-wrapper eg-post-id-159"
                                data-date="1497620924">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-transition" data-delay="0"
                                         data-duration="default" data-transition="esg-pressback"><img
                                            src="./assets/uploads/2017/09/post-19.jpg" data-no-lazy="1" alt=""
                                            width="2165" height="1600"></div>

                                    <div class="esg-entry-cover">

                                        <div class="esg-overlay esg-transition eg-chrimson-container"
                                             data-delay="0" data-duration="default"
                                             data-transition="esg-fade"></div>

                                        <div class="esg-center eg-post-159 eg-chrimson-element-1-a esg-transition"
                                             data-delay="0.1" data-duration="default"
                                             data-transition="esg-slide"><a
                                                class="eg-chrimson-element-1 eg-post-159 esgbox"
                                                data-thumb="./assets/uploads/2017/09/post-19-200x148.jpg"
                                                href="./assets/uploads/2017/09/post-19.jpg" data-width="2165"
                                                data-height="1600"><i class="eg-icon-search"></i></a></div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>

                </article>
                <div class="clear"></div>
                <script type="text/javascript">
                    var essapi_4;

                    function esginit_4() {
                        jQuery(document).ready(function () {
                            essapi_4 = jQuery("#esg-grid-4-1").tpessential({
                                gridID: 4,
                                layout: "masonry",
                                forceFullWidth: "off",
                                lazyLoad: "off",
                                row: 2,
                                apiName: "essapi_4",
                                loadMoreAjaxToken: "84a5d95347",
                                loadMoreAjaxUrl: "./wp-admin/admin-ajax.php",
                                loadMoreAjaxAction: "Essential_Grid_Front_request_ajax",
                                ajaxContentTarget: "ess-grid-ajax-container-",
                                ajaxScrollToOffset: "0",
                                ajaxCloseButton: "off",
                                ajaxContentSliding: "on",
                                ajaxScrollToOnLoad: "on",
                                ajaxCallbackArgument: "off",
                                ajaxNavButton: "off",
                                ajaxCloseType: "type1",
                                ajaxCloseInner: "false",
                                ajaxCloseStyle: "light",
                                ajaxClosePosition: "tr",
                                space: 30,
                                pageAnimation: "fade",
                                videoPlaybackInGrid: "on",
                                videoPlaybackOnHover: "off",
                                videoInlineControls: "off",
                                keepLayersInline: "off",
                                startAnimation: "none",
                                startAnimationSpeed: 1000,
                                startAnimationDelay: 100,
                                startAnimationType: "item",
                                animationType: "item",
                                paginationScrollToTop: "off",
                                paginationAutoplay: "off",
                                spinner: "spinner0",
                                minVisibleItems: 3,
                                lightBoxMode: "single",
                                lightboxHash: "group",
                                lightboxPostMinWid: "75%",
                                lightboxPostMaxWid: "75%",
                                lightboxSpinner: "off",
                                lightBoxFeaturedImg: "off",
                                lightBoxPostTitle: "off",
                                lightBoxPostTitleTag: "h2",
                                lightboxMargin: "0|0|0|0",
                                lbContentPadding: "0|0|0|0",
                                lbContentOverflow: "auto",
                                animSpeed: 1000,
                                delayBasic: 1,
                                mainhoverdelay: 1,
                                filterType: "single",
                                showDropFilter: "hover",
                                filterGroupClass: "esg-fgc-4",
                                filterNoMatch: "No Items for the Selected Filter",
                                filterDeepLink: "off",
                                hideMarkups: "on",
                                inViewport: true,
                                viewportBuffer: 20,
                                youtubeNoCookie: "false",
                                convertFilterMobile: false,
                                paginationSwipe: "off",
                                paginationDragVer: "on",
                                pageSwipeThrottle: 30,
                                googleFonts: ['Open+Sans:300,400,600,700,800', 'Raleway:100,200,300,400,500,600,700,800,900', 'Droid+Serif:400,700'],
                                hideBlankItemsAt: "1",
                                responsiveEntries: [
                                    {width: 1400, amount: 3, mmheight: 0},
                                    {width: 1170, amount: 3, mmheight: 0},
                                    {width: 1024, amount: 3, mmheight: 0},
                                    {width: 960, amount: 3, mmheight: 0},
                                    {width: 778, amount: 3, mmheight: 0},
                                    {width: 640, amount: 3, mmheight: 0},
                                    {width: 480, amount: 1, mmheight: 0}
                                ]
                            });

                            var arrows = true,
                                    lightboxOptions = {
                                        margin: [0, 0, 0, 0],
                                        buttons: ["share", "thumbs", "close"],
                                        infobar: true,
                                        loop: true,
                                        slideShow: {"autoStart": false, "speed": 3000},
                                        videoAutoPlay: true,
                                        animationEffect: "fade",
                                        animationDuration: 500,
                                        beforeShow: function (a, c) {
                                            if (!arrows) {
                                                jQuery("body").addClass("esgbox-hidearrows");
                                            }
                                            var i = 0,
                                                    multiple = false;
                                            a = a.slides;
                                            for (var b in a) {
                                                i++;
                                                if (i > 1) {
                                                    multiple = true;
                                                    break;
                                                }
                                            }
                                            if (!multiple) jQuery("body").addClass("esgbox-single");
                                            if (c.type === "image") jQuery(".esgbox-button--zoom").show();
                                        },
                                        beforeLoad: function (a, b) {
                                            jQuery("body").removeClass("esg-four-by-three");
                                            if (b.opts.$orig.data("ratio") === "4:3") jQuery("body").addClass("esg-four-by-three");
                                        },
                                        afterLoad: function () {
                                            jQuery(window).trigger("resize.esglb");
                                        },
                                        afterClose: function () {
                                            jQuery("body").removeClass("esgbox-hidearrows esgbox-single");
                                        },
                                        transitionEffect: "fade",
                                        transitionDuration: 366,
                                        hash: "group",
                                        arrows: true,
                                        wheel: false,
                                    };

                            jQuery("#esg-grid-4-1").data("lightboxsettings", lightboxOptions);


                        });
                    } // End of EsgInitScript
                    var once_4 = false;
                    if (document.readyState === "loading") document.addEventListener('readystatechange', function () {
                        if ((document.readyState === "interactive" || document.readyState === "complete") && !once_4) {
                            once_4 = true;
                            esginit_4();
                        }
                    }); else {
                        once_4 = true;
                        esginit_4();
                    }
                </script>
                <div class="vc_empty_space  vc_custom_1512546661945 height_medium" style="height: 32px"><span
                        class="vc_empty_space_inner"></span></div>
                <div class="sc_item_button sc_button_wrap sc_align_center"><a href="/gallery-cobbles/"
                                                                              id="sc_button_380382654"
                                                                              class="sc_button color_style_default sc_button_default sc_button_size_normal sc_button_with_icon sc_button_icon_right"><span
                        class="sc_button_icon"><span class="icon-015_portfolio"></span></span><span
                        class="sc_button_text"><span class="sc_button_title">our portfolio</span></span>
                    <!-- /.sc_button_text --></a><!-- /.sc_button --></div><!-- /.sc_item_button -->
                <div class="vc_empty_space  vc_custom_1512546740769 height_large" style="height: 32px"><span
                        class="vc_empty_space_inner"></span></div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery Section -->