<!-- Newsletter section -->
<div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8 vc_col-has-fill sc_layouts_column_icons_position_left">
        <div class="vc_column-inner vc_custom_1512662106878">
            <div class="wpb_wrapper">
                <div class="vc_empty_space  height_medium" style="height: 32px"><span
                        class="vc_empty_space_inner"></span></div>
                <div id="sc_content_23064800"
                     class="sc_content color_style_default sc_content_default sc_float_center sc_padding_small ti_custom">
                    <div class="sc_content_container">
                        <div id="sc_title_1722743474"
                             class="sc_title color_style_default sc_title_default"><h6
                                class="sc_item_subtitle sc_title_subtitle sc_align_left sc_item_title_style_default">
                            get our latest news</h6>
                            <h4 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">
                                Subscribe To Out Newsletter!</h4>
                        </div><!-- /.sc_title -->
                        <div class="vc_empty_space  height_small" style="height: 32px"><span
                                class="vc_empty_space_inner"></span></div>
                        <div id="widget_banner_1347129646"
                             class="widget_area sc_widget_banner vc_widget_banner wpb_content_element">
                            <aside id="widget_banner_1347129646_widget" class="widget widget_banner">
                                <script>(function () {
                                    window.mc4wp = window.mc4wp || {
                                        listeners: [],
                                        forms: {
                                            on: function (evt, cb) {
                                                window.mc4wp.listeners.push(
                                                        {
                                                            event: evt,
                                                            callback: cb
                                                        }
                                                );
                                            }
                                        }
                                    }
                                })();
                                </script>
                                <!-- Mailchimp for WordPress v4.7.6 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-609" method="post"
                                      data-id="609" data-name="Emailer">
                                    <div class="mc4wp-form-fields"><input type="email" name="EMAIL"
                                                                          placeholder="Enter your e-mail"
                                                                          required/><input type="submit"
                                                                                           value="subscribe"/>
                                        <div class="mcfwp-agree-input">
                                            <label class="mcfwp-agree-input"><input type="checkbox"
                                                                                    name="i_agree_privacy_policy"
                                                                                    value="1"
                                                                                    required=""/><span>I have read and agree to the <a
                                                    href="/privacy-policy/" target="_blank">terms &amp; conditions</a></span></label>
                                        </div>
                                    </div>
                                    <label style="display: none !important;">Leave this field empty if you're
                                        human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                                      autocomplete="off"/></label><input type="hidden"
                                                                                         name="_mc4wp_timestamp"
                                                                                         value="1600187739"/><input
                                        type="hidden" name="_mc4wp_form_id" value="609"/><input type="hidden"
                                                                                                name="_mc4wp_form_element_id"
                                                                                                value="mc4wp-form-1"/>
                                    <div class="mc4wp-response"></div>
                                </form><!-- / Mailchimp for WordPress Plugin --></aside>
                        </div>
                    </div>
                </div><!-- /.sc_content -->
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md sc_layouts_column_icons_position_left">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space  height_medium" style="height: 32px"><span
                                        class="vc_empty_space_inner"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4 vc_hidden-sm vc_hidden-xs sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="widget_recent_news_428284175"
                     class="sc_recent_news sc_recent_news_style_news-portfolio sc_recent_news_with_accented blog_custom">
                    <article
                            class="post_item post_layout_news-portfolio post_format_standard post-88 post type-post status-publish format-standard has-post-thumbnail hentry category-expert-advice tag-installation tag-security">

                        <div class="post_featured with_thumb hover_dots"><img width="624" height="500"
                                                                              src="./assets/uploads/2017/09/post-5-624x500.jpg"
                                                                              class="attachment-chrimson-thumb-portfolio size-chrimson-thumb-portfolio wp-post-image"
                                                                              alt="" loading="lazy"/>
                            <div class="mask"></div>
                            <a href="./choosing-the-right-material-to-your-window/" aria-hidden="true"
                               class="icons"><span></span><span></span><span></span></a>
                            <div class="post_info"><h5 class="post_title entry-title"><a
                                    href="./choosing-the-right-material-to-your-window/" rel="bookmark">Choosing
                                the Right Material To Your Window</a></h5><a class="sc_button sc_button_simple"
                                                                             href="./choosing-the-right-material-to-your-window/">read
                                more</a></div>
                        </div>
                    </article>
                </div><!-- /.sc_recent_news --></div>
        </div>
    </div>

    <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space  vc_custom_1512553003189 height_large" style="height: 32px"><span
                        class="vc_empty_space_inner"></span></div>
            </div>
        </div>
    </div>
</div>
<!-- End Newsletter section -->