<div data-vc-full-width="true" data-vc-full-width-init="false"
     class="vc_row wpb_row vc_row-fluid vc_custom_1512485712413 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space  vc_custom_1512486176008 height_large" style="height: 32px"><span
                            class="vc_empty_space_inner"></span></div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space  vc_custom_1512487859882 height_large" style="height: 32px"><span
                            class="vc_empty_space_inner"></span></div>
                <div id="sc_services_35248740"
                     class="sc_services color_style_default sc_services_default sc_services_featured_top"><h6
                            class="sc_item_subtitle sc_services_subtitle sc_align_left sc_item_title_style_default">
                        door services</h6>
                    <h2 class="sc_item_title sc_services_title sc_align_left sc_item_title_style_default">Find
                        Your Dream<br> Door Now!</h2>
                    <div class="sc_services_columns_wrap sc_item_columns sc_item_columns_2 trx_addons_columns_wrap columns_padding_bottom">
                        <div class="trx_addons_column-1_2">
                            <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                <div class="post_featured with_thumb hover_dots sc_services_item_thumb"><img
                                            width="406" height="335"
                                            src="./assets/uploads/2017/09/service-5-406x335.jpg"
                                            class="attachment-chrimson-thumb-team size-chrimson-thumb-team wp-post-image"
                                            alt="" loading="lazy"/>
                                    <div class="mask"></div>
                                    <a href="./services/residential-doors/" aria-hidden="true"
                                       class="icons"><span></span><span></span><span></span></a></div>
                                <div class="sc_services_item_info">
                                    <div class="sc_services_item_header">
                                        <h4 class="sc_services_item_title"><a
                                                    href="./services/residential-doors/">Residential Doors</a></h4>
                                        <div class="sc_services_item_subtitle"><a
                                                    href="./services_group/premium-doors/"
                                                    title="View all posts in Premium Doors">Premium Doors</a></div>
                                    </div>
                                    <div class="sc_services_item_content"><p>Quuntur magni dolores eos qui
                                            ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                                            ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                            numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit
                                            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi&hellip;</p>
                                    </div>
                                    <div class="sc_services_item_button sc_item_button"><a
                                                href="./services/residential-doors/"
                                                class="sc_button sc_button_simple">Learn more</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="trx_addons_column-1_2">
                            <div class="sc_services_item with_content with_image sc_services_item_featured_top">
                                <div class="post_featured with_thumb hover_dots sc_services_item_thumb"><img
                                            width="406" height="335"
                                            src="./assets/uploads/2017/09/post-13-406x335.jpg"
                                            class="attachment-chrimson-thumb-team size-chrimson-thumb-team wp-post-image"
                                            alt="" loading="lazy"/>
                                    <div class="mask"></div>
                                    <a href="./services/commercial-doors/" aria-hidden="true"
                                       class="icons"><span></span><span></span><span></span></a></div>
                                <div class="sc_services_item_info">
                                    <div class="sc_services_item_header">
                                        <h4 class="sc_services_item_title"><a
                                                    href="./services/commercial-doors/">Commercial Doors</a></h4>
                                        <div class="sc_services_item_subtitle"><a
                                                    href="./services_group/premium-doors/"
                                                    title="View all posts in Premium Doors">Premium Doors</a></div>
                                    </div>
                                    <div class="sc_services_item_content"><p>Quuntur magni dolores eos qui
                                            ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                                            ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                            numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit
                                            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi&hellip;</p>
                                    </div>
                                    <div class="sc_services_item_button sc_item_button"><a
                                                href="./services/commercial-doors/"
                                                class="sc_button sc_button_simple">Learn more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 sc_shift_x_small sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="sc_content_1976391829"
                     class="sc_content color_style_default sc_content_default sc_float_center shadowed  vc_custom_1512482128661">
                    <div class="sc_content_container">
                        <div class="vc_empty_space  height_medium" style="height: 32px"><span
                                    class="vc_empty_space_inner"></span></div>
                        <div id="sc_services_1210509176"
                             class="sc_services color_style_default sc_services_light sc_services_featured_top">
                            <div class="sc_services_columns_wrap sc_item_columns sc_item_columns_3 trx_addons_columns_wrap columns_padding_bottom no_margin">
                                <div class="trx_addons_column-1_3">
                                    <div class="sc_services_item without_content with_image sc_services_item_featured_top">
                                        <div class="post_featured with_thumb hover_dots sc_services_item_thumb">
                                            <img width="204" height="120"
                                                 src="./assets/uploads/2017/09/008_entrance-1.png"
                                                 class="attachment-chrimson-thumb-med size-chrimson-thumb-med wp-post-image"
                                                 alt="" loading="lazy"/>
                                            <div class="mask"></div>
                                            <a href="./services/entrance-system/" aria-hidden="true"
                                               class="icons"><span></span><span></span><span></span></a></div>
                                        <div class="sc_services_item_info">
                                            <div class="sc_services_item_header">
                                                <h6 class="sc_services_item_title"><a
                                                            href="./services/entrance-system/">Entrance System</a>
                                                </h6>
                                                <div class="sc_services_item_subtitle"><a
                                                            href="./services_group/all-doors/"
                                                            title="View all posts in All Doors">All Doors</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="trx_addons_column-1_3">
                                    <div class="sc_services_item without_content with_image sc_services_item_featured_top">
                                        <div class="post_featured with_thumb hover_dots sc_services_item_thumb">
                                            <img width="204" height="120"
                                                 src="./assets/uploads/2017/09/009_terrace-1.png"
                                                 class="attachment-chrimson-thumb-med size-chrimson-thumb-med wp-post-image"
                                                 alt="" loading="lazy"/>
                                            <div class="mask"></div>
                                            <a href="./services/terrace/" aria-hidden="true"
                                               class="icons"><span></span><span></span><span></span></a></div>
                                        <div class="sc_services_item_info">
                                            <div class="sc_services_item_header">
                                                <h6 class="sc_services_item_title"><a
                                                            href="./services/terrace/">Terrace</a></h6>
                                                <div class="sc_services_item_subtitle"><a
                                                            href="./services_group/all-doors/"
                                                            title="View all posts in All Doors">All Doors</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="trx_addons_column-1_3">
                                    <div class="sc_services_item without_content with_image sc_services_item_featured_top">
                                        <div class="post_featured with_thumb hover_dots sc_services_item_thumb">
                                            <img width="204" height="120"
                                                 src="./assets/uploads/2017/09/010_frenchclad-1.png"
                                                 class="attachment-chrimson-thumb-med size-chrimson-thumb-med wp-post-image"
                                                 alt="" loading="lazy"/>
                                            <div class="mask"></div>
                                            <a href="./services/frenchclad/" aria-hidden="true"
                                               class="icons"><span></span><span></span><span></span></a></div>
                                        <div class="sc_services_item_info">
                                            <div class="sc_services_item_header">
                                                <h6 class="sc_services_item_title"><a
                                                            href="./services/frenchclad/">Frenchclad</a></h6>
                                                <div class="sc_services_item_subtitle"><a
                                                            href="./services_group/all-doors/"
                                                            title="View all posts in All Doors">All Doors</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="trx_addons_column-1_3">
                                    <div class="sc_services_item without_content with_image sc_services_item_featured_top">
                                        <div class="post_featured with_thumb hover_dots sc_services_item_thumb">
                                            <img width="204" height="120"
                                                 src="./assets/uploads/2017/09/011_solid-wood-1.png"
                                                 class="attachment-chrimson-thumb-med size-chrimson-thumb-med wp-post-image"
                                                 alt="" loading="lazy"/>
                                            <div class="mask"></div>
                                            <a href="./services/solid-wood/" aria-hidden="true"
                                               class="icons"><span></span><span></span><span></span></a></div>
                                        <div class="sc_services_item_info">
                                            <div class="sc_services_item_header">
                                                <h6 class="sc_services_item_title"><a
                                                            href="./services/solid-wood/">Solid Wood</a></h6>
                                                <div class="sc_services_item_subtitle"><a
                                                            href="./services_group/all-doors/"
                                                            title="View all posts in All Doors">All Doors</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="trx_addons_column-1_3">
                                    <div class="sc_services_item without_content with_image sc_services_item_featured_top">
                                        <div class="post_featured with_thumb hover_dots sc_services_item_thumb">
                                            <img width="204" height="120"
                                                 src="./assets/uploads/2017/09/012_interior-1.png"
                                                 class="attachment-chrimson-thumb-med size-chrimson-thumb-med wp-post-image"
                                                 alt="" loading="lazy"/>
                                            <div class="mask"></div>
                                            <a href="./services/interior-doors/" aria-hidden="true"
                                               class="icons"><span></span><span></span><span></span></a></div>
                                        <div class="sc_services_item_info">
                                            <div class="sc_services_item_header">
                                                <h6 class="sc_services_item_title"><a
                                                            href="./services/interior-doors/">Interior Doors</a>
                                                </h6>
                                                <div class="sc_services_item_subtitle"><a
                                                            href="./services_group/all-doors/"
                                                            title="View all posts in All Doors">All Doors</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="trx_addons_column-1_3">
                                    <div class="sc_services_item without_content with_image sc_services_item_featured_top">
                                        <div class="post_featured with_thumb hover_dots sc_services_item_thumb">
                                            <img width="204" height="120"
                                                 src="./assets/uploads/2017/09/013_panaview-1.png"
                                                 class="attachment-chrimson-thumb-med size-chrimson-thumb-med wp-post-image"
                                                 alt="" loading="lazy"/>
                                            <div class="mask"></div>
                                            <a href="./services/panaview-doors/" aria-hidden="true"
                                               class="icons"><span></span><span></span><span></span></a></div>
                                        <div class="sc_services_item_info">
                                            <div class="sc_services_item_header">
                                                <h6 class="sc_services_item_title"><a
                                                            href="./services/panaview-doors/">Panaview Doors</a>
                                                </h6>
                                                <div class="sc_services_item_subtitle"><a
                                                            href="./services_group/all-doors/"
                                                            title="View all posts in All Doors">All Doors</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_empty_space  height_medium" style="height: 32px"><span
                                    class="vc_empty_space_inner"></span></div>
                        <div class="sc_item_button sc_button_wrap sc_align_left"><a href="/doors/"
                                                                                    id="sc_button_402795459"
                                                                                    class="sc_button color_style_default sc_button_default  vc_custom_1512547274790 sc_button_size_normal sc_button_with_icon sc_button_icon_right"><span
                                        class="sc_button_icon"><span class="icon-014_arrow-1"></span></span><span
                                        class="sc_button_text"><span
                                            class="sc_button_title">view all doors</span></span>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space  vc_custom_1512489332353 height_large" style="height: 32px"><span
                            class="vc_empty_space_inner"></span></div>
            </div>
        </div>
    </div>
</div>
